{% extends "base.html" %}

{% block body %}
{% include('Captures/pagination.html') %}

<div class="capture-grid">
  {% for capture in capture.list %}
    <div class="plate">
      <a class="plate-img" href="/captures/listImages?pass_id={{ capture.id }}">
        {% if capture.sat_type == 0 %}
          <img src="{{ constant('Config\\Config::THUMB_PATH') }}/{{ capture.file_path }}-website-thumbnail.jpg" alt="{{ capture.sat_name }}">
        {% elseif capture.sat_type == 1 %}
          {% if capture.daylight_pass == 1 %}
            <img src="{{ constant('Config\\Config::THUMB_PATH') }}/{{ capture.file_path }}-MSA.jpg" alt="{{ capture.sat_name }}">
          {% else %}
            <img src="{{ constant('Config\\Config::THUMB_PATH') }}/{{ capture.file_path }}-MCIR.jpg" alt="{{ capture.sat_name }}">
          {% endif %}
        {% elseif capture.sat_type == 2 %}
          <img src="{{ constant('Config\\Config::THUMB_PATH') }}/{{ capture.file_path }}-0.jpg" alt="{{ capture.sat_name }}">
        {% endif %}
      </a>
      <div class="plate-caption">
        <h3><a href="/captures/listImages?pass_id={{ capture.id }}">{{ capture.sat_name }}</a></h3>
        <dl class="readout">
          <dt>{{ lang.elev }}</dt>
          <dd>{{ capture.max_elev }}&#176;{% if capture.azimuth_at_max != "" %}{% if capture.azimuth_at_max >= 0 and capture.azimuth_at_max <= 180 %}E{% else %}W{% endif %}{% endif %}</dd>

          {% if capture.pass_start_azimuth != '' %}
            <dt>{{ lang.pass_start_azimuth }}</dt>
            <dd>{{ capture.pass_start_azimuth }}&#176;</dd>
          {% endif %}

          {% if capture.direction != '' %}
            <dt>{{ lang.travel_direction }}</dt>
            <dd>{{ capture.direction }}</dd>
          {% endif %}

          <dt>{{ lang.pass_start }}</dt>
          <dd>{{ capture.pass_start|date(constant('Config\\Config::DATETIME_FORMAT')) }}</dd>

          <dt>{{ lang.gain }}</dt>
          <dd>
            {% if capture.gain == '0' %}
              Auto
            {% elseif capture.gain == '' %}
              Unknown
            {% else %}
              {{ capture.gain }}
            {% endif %}
          </dd>
        </dl>
      </div>
    </div>
  {% endfor %}
</div>

{% include('Captures/pagination.html') %}
{% endblock %}
